﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-sm-8">
    <ul>
        @foreach (var article in ViewBag.Articles)
        {
            <h2>@article.Item2</h2>
            <h5>@article.Item3</h5>
            <div class="fakeimg">Fake Image</div>
            <p>@article.Item4</p>
        }
    </ul>
</div>
<div class="col-sm-4">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Guest/Index">Guest</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Questionnaire/Index">Questionnaire</a>
        </li>
    </ul>
    <hr class="d-sm-none">
</div>
   


