﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-sm-8">
    <div>
        @foreach (var article in ViewBag.Feedbacks)
        {
            <p>@article.Item3</p>
            <p>@article.Item4 - @article.Item2</p>
            <hr>
        }
    </div>
    <br>
    <div class="p-1">
        <h5 class="mb-2">For your opinions:</h5>
        @using (Html.BeginForm("PostData", "Guest", FormMethod.Get))
        {
            <input type="hidden" value="@ViewBag.Id" name="BookId"/>
            <div class="form-group">
                <label for="Name">Author`s name:</label>
                <input type="text" name="Name" id="Name" required class="form-control"/>
            </div>
            <div class="form-group"><label for="Feedback">Feedback:</label>
                <textarea rows="10" cols="45" name="Feedback" required id="Feedback" class="form-control"></textarea></div>
            <div class="form-group"><input type="submit" value="Send" class="form-control bg-dark text-white"></div>
        }
    </div>
</div>
<div class="col-sm-4">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link" href="/Home/Index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">Guest</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Questionnaire/Index">Questionnaire</a>
        </li>
    </ul>
    <hr class="d-sm-none">
</div>
