﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-sm-8">
    @using (Html.BeginForm("QuestionnaireResult", "Questionnaire", FormMethod.Get))
    {
        <div class="form-group">
            <h5 class="m-0 pb-2">Your name:</h5>
            <input type="text" required size="30" maxlength="30" name="Name" id="Name" class="form-control"/>
        </div>
        <div class="form-group">
            <h5 class="m-0 pb-2">How often do you read books?</h5>
            <div class="form-check pl-4">
                @foreach (var answer in ViewBag.RadioAnswers)
                {
                    <input required class="form-check-input" type="radio" name="radioReading" id="@answer.Item1" value="@answer.Item1">
                    <label class="form-check-label" for="@answer.Item1">@answer.Item1</label><br>
                }
            </div>
        </div>
        <div class="form-group">
            <h5 class="m-0 pb-2 mt-3">What books have you read?</h5>
            <div class="form-check pl-4">
                @foreach (var answer in ViewBag.CheckAnswers)
                {
                    <input class="form-check-input" type="checkbox" name="checkBooks" id="@answer.Item1" value="@answer.Item1">
                    <label class="form-check-label" for="@answer.Item1">@answer.Item1</label><br>
                }
            </div>
        </div>
        <div class="form-group mt-3">
            <input type="submit" value="Send" class="form-control bg-dark text-white">
        </div>
    }
</div>
<div class="col-sm-4">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link" href="/Home/Index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Guest/Index">Guest</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">Questionnaire</a>
        </li>
    </ul>
    <hr class="d-sm-none">
</div>