﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-sm-8">
    <h5 class="m-0 pb-2">Thanks for your answer, @ViewBag.Name </h5>
    <p>@ViewBag.Message</p>

    <h5 class="m-0 mt-3 pb-2">Statistics of people reading:</h5>
    @ExtensionHelper.ListItems(Html, ViewBag.RadioAnswers)
    
    <h5 class="m-0 mt-3 pb-2">Statistics of most valuable books reading:</h5>
    @InlineHelper.OrderedList(ViewBag.CheckAnswers)
</div>

<div class="col-sm-4">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link" href="/Home/Index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Guest/Index">Guest</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Questionnaire/Index">Questionnaire</a>
        </li>
    </ul>
    <hr class="d-sm-none">
</div>