﻿@helper OrderedList(List<(string, int)> answers)  
{  
    <ol>  
        @foreach(var answer in answers)  
        {  
            <li>@answer.Item1 - @answer.Item2</li>  
        }  
    </ol>  
}}